{% extends 'base.html.twig' %}

{% block page_content %}
    <p class="message">
        {{ app.flashes('info')|join(' ') }}
    </p>

    <div>
        <a href="{{ path('homepage') }}">Retour à la page d'accueil</a>
    </div>
{% endblock %}

