{% extends "base.html.twig" %}

{% block page_content %}
    <h1>Homepage</h1>

    <div class="alert alert-primary" role="alert">
        Homepage!!!!!!
    </div>
    {{ dump() }}

    {# Disclaimer: !Demo purpose only! #}
    {# Display Query parameters from Request #}
    {# path: /id=5&name=toto #}
    <div>
        {{ app.request.requestUri }}
    </div>
    {% for parameter_name, some_value in app.request.query.all %}
        <p>{{ parameter_name }} => {{ some_value }}</p>
    {% endfor %}
{% endblock %}
